/*active states desktop:
nav__item:   opacité 1
link--active:  color white + bkg black + pd


*/

/* globals */
:root{
	/*bg*/
	--bg-dark-violet: hsl(256, 26%, 20%);/*bg, #2d2640*/
	--bg-grayish-blue: hsl(216, 30%, 68%);/*icones,  #95a9c6*/
	--bg-light-grey: #fafafa;/*#fafafa*/
	--bg-white: hsl(0, 0%, 100%);
	/*colors*/
	--text-dark-violet: hsl(270, 9%, 17%); /*textes, #2c2830*/
	--text-grayish-violet:  hsl(276, 4%, 51%);/* #837d87*/
	--text-white: hsl(0, 0%, 100%);
	/*Fonts*/
	--title-font:'DM Serif Display', serif;
	--main-font:'Karla';
}
html{
	font-size:62.5%;/*1rem = 10px*/
	box-sizing:border-box;
}
*, *:before, *:after{
	box-sizing:inherit;
	margin:0;
	padding:0;
}
body{
	font-family: var(--main-font);
	font-size:1.6rem;
	line-height:2.6rem;
	color:var(--text-grayish-violet);
	text-align:center;
}
h1, h2 {
	margin:0;
}
a{
	text-decoration:none;
}
ul li{
	list-style-type: none;
}
img{
	max-width:100%;
	height:auto;
}

/* layout */
.container {            
    max-width:329px; 
    margin:0 auto;
}
section {
	margin-bottom:14rem;
}

/*headings and fonts*/
.title {
	font-size:4.8rem;
	line-height:4.8rem;
	letter-spacing:-1px;
	font-family:var(--title-font);
	color:var(--text-white);
}
.title--small {
	font-size:4rem;
	line-height:4rem;
}
.title--dark {
	color:var(--text-dark-violet);
}
.link {
	font-size:1.3rem;
	font-weight:700;
	letter-spacing:1px;
	font-family:var(--title-font);
	text-transform:uppercase;
}
a.link:hover {
	cursor:pointer;
}
.link--big {
	font-size:2rem;
	line-height:4rem;
}
.link--white {
	color:var(--text-white);
}
.link--gray {
	color:var(--text-grayish-violet);
}
.link--black {
	color:var(--bg-dark-violet);
}
.link--active {
	border:1px solid var(--text-white);
	padding:1.3rem 0
}

/* components */
.cta {
	border:2px solid var(--text-white);
	padding:1.1rem 2.7rem;
}
.cta:hover {
	color:var(--text-dark-violet);
	background-color: var(--bg-white);
	cursor:pointer;
}

/*section styles*/
.navbar {
	padding:2.4rem;
	display:flex;
	justify-content:flex-end;
	align-items:center;
}
.navbar__logo {
	margin-right:auto;
}
main {
	position:relative;
}
.nav {
	display:none;
	background: url('../img/bg-pattern-mobile-nav.svg')right bottom no-repeat, hsl(278, 17%, 18%);
	width:100%;
	padding:4.4rem 0 30rem;
	position:absolute;
	z-index:100;
}
.nav__item {
	margin-bottom:2.1rem;
}
.human {
	background:url('../img/bg-pattern-intro-left-mobile.svg') left top 45.1rem  no-repeat, url('../img/bg-pattern-intro-right-mobile.svg') right bottom -19rem no-repeat, url('../img/image-intro-mobile.jpg') no-repeat, var(--bg-dark-violet);
}
.human__content {
	padding:55.4rem 0 10rem;
}
.lead-in {
	color:var(--text-white);
	font-family:var(--title-font);
	margin-bottom:4.8rem;
}
.about__title {
	margin-bottom:8.1rem;
}
.about__title:before {
	content:"";
	display:block;
	width:15rem;
	margin:0 auto 5rem;
	border-top:1px solid hsl(296, 24%, 78%);
}
.values > li {
	margin-bottom:6.8rem;
}
.values__img {
	margin-bottom:3.7rem;
}
.p-bold {
	font-size:2.8rem;
	letter-spacing:0;
	color:var(--text-dark-violet);
	font-family:var(--title-font);
	margin-bottom:2.4rem;
}
.p-bold + p {
	padding:0 0.2rem;
	
}
.how-work__content {
	background:url('../img/bg-pattern-how-we-work-mobile.svg') right top no-repeat, var(--bg-dark-violet);
	padding:7.5rem 2.8rem;
}
.how-work__title {
	margin-bottom:4rem;
}
.footer {
	background: url('../img/bg-pattern-footer-mobile.svg') left top no-repeat, var(--bg-light-grey);
	padding:9rem 0;
}
.row-1 {
	border-bottom:1px solid hsl(0, 0%, 85%);
	margin-bottom:3.3rem;
}
.footer__logo {
	margin-bottom:2.2rem;
}
.socials {
	margin-bottom:4rem;
}
.fab {
	color:var(--text-grayish-violet);
	font-size:2.4rem;
}
.fab:not(first-of-type) {
	margin-left:1.5rem;
}
.fab:hover {
	color:var(--text-dark-violet);
	cursor:pointer;
}
.sitemap {
	margin-bottom:2.7rem;
}
.sitemap__item {
	margin-bottom:0.4rem;
}
.sitemap__item--first {
	margin-bottom:2.1rem;
}


.attribution {
	background-color: var(--bg-light-grey);
	padding-bottom:2rem;
}
