/* GLOBALS */

:root {
	/* Colors */
	--c-very-dark-magenta: hsl(300, 43%, 22%);
	--c-soft-pink:hsl(333, 80%, 67%);
	--c-dark-grayish-magenta: hsl(303, 10%, 53%);
	--c-light-grayish-magenta: hsl(300, 24%, 96%);
	--c-white: hsl(0, 0%, 100%);
	
	/* Fonts */
	--f-main:'Spartan', sans-serif;
}

html {
	font-size:62.5%;/*1rem = 10px*/
	box-sizing:border-box;
}

*, *:before, *:after {
	box-sizing:inherit;
	margin:0;
	padding:0;
}

body {
	font-family: var(--f-main);
	font-size:1.3rem;
	padding:8rem 0 6rem;
}

h1, h2, h3 {
	margin:0;
}

img {
	max-width:100%;
	height:auto;
}

a {
	text-decoration:none;
}

ul li {
	list-style-type: none;
}

/* LAYOUTS */

.container {
	width:87%;
	max-width:1108px;
	margin:0 auto;
}


/* SECTION FAME */

.fame {
	/* background-color:rgba(143,188,143, 0.8); */
	margin-bottom:4.7rem;
	text-align:center;
}
.header__title {
	font-size:3.3rem;
	color:var(--c-very-dark-magenta);
	margin-bottom:2.5rem;
	letter-spacing:-2px;
	line-height:1;
}
.header__lead-in {
	color:var(--c-dark-grayish-magenta);
	font-size: 1.45rem;
	line-height: 1.7;
	margin-bottom: 4.5rem;
}
.rate__item {
	background-color: var(--c-light-grayish-magenta);
	border-radius:10px;
	padding:1.5rem 0;
}
.rate__item + .rate__item {
	margin-top:1.5rem;
}
.rate__stars {
	margin-bottom:1.5rem;
}
.rate__desc {
	color:var(--c-very-dark-magenta);
	font-weight:700;
	font-size:1.3rem;
}


/* SECTION TESTIMONIALS */

.testimonials {
	/* background-color: rgb(255,140,0, 0.8); */
	margin-bottom:9rem;
}

.testimonials__item {
	background-color: var(--c-very-dark-magenta);
	border-radius:10px;
	padding:3.7rem 3rem;
	color:var(--c-white);
	line-height:1.6;
	font-size:1.27rem;
}
.testimonials__item + .testimonials__item {
	margin-top:1.5rem;
}
.testimonials__author {
	display:flex;
	margin-bottom:2.2rem;
}
.author__img {
	flex-basis:4rem;
	flex-shrink:0;
	margin-right: 2rem;
}
.author__img > img {
	border-radius:50%;
}
.author__name {
	font-weight:700;
}
.author__job {
	color:var(--c-soft-pink);
}

.testimonials__quote:not(first-of-type){
	padding:0 0.5rem;
}


.attribution > a {
	color:var(--c-very-dark-magenta);
}