/* GLOBALS */

:root {
	/*Colors*/
	--strong-cyan:hsl(171, 66%, 44%);
	--light-blue:hsl(233, 100%, 69%);
	--dark-grayish-blue:hsl(210, 10%, 33%);
	--grayish-blue:hsl(201, 11%, 66%);
	--white:hsl(0, 0%, 100%);
	/*Fonts*/
	--mainfont:'Bai Jamjuree', sans-serif;
}
html {
	font-size:62.5%;/* 1rem = 10px*/
}
*, *:before, *:after {
	box-sizing:border-box;
	margin:0;
	padding:0;
}
h1, h2 {
    margin:0;
}
body {
	background: url('../img/bg-header-mobile.png') no-repeat;
	background-size: contain;
	font-family: var(--mainfont);
	font-size:1.6rem;
	color:var(--grayish-blue);
	letter-spacing: 0;
	font-weight: 400;
    text-align: center;
}
h1 {
    font-size: 3.2rem;
    font-weight: 600;
	letter-spacing: -1px;
    color:var(--dark-grayish-blue);
    margin-bottom:2.4rem;
}
h2 {
    font-size: 2.8rem;
    font-weight: 600;
    letter-spacing: 0;
    color:var(--dark-grayish-blue);
	margin-bottom:2.3rem;
}
p {
	line-height: 2.6rem;
}
a {
	text-decoration:none;
}

ul li {
	list-style-type: none;
}
img {
	max-width:100%;
	height:auto;
}
.btn {
	width:31.1rem;
	height:5.6rem;
    border-radius:2.8rem;
    border:none;
	border-bottom:0.3rem solid hsla(0, 0%, 0%, 0.1);
    font-size:1.8rem;
    font-weight:600;
    letter-spacing:0.1rem;
    color:var(--white);
    line-height:3rem;
}
.btn:hover {
    cursor:pointer;
    opacity:0.8;
}
.btn--cyan {
	background-color:var(--strong-cyan);
    box-shadow: 0px 10px 10px rgba(137,229,199,0.5);
    margin-bottom:2.3rem;
}
.btn--blue {
	background-color: var(--light-blue);
	box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}
.intro,.track,.access,.supercharge,.download, .footer {
    padding:0 3.3rem;
}
.section-header {
    max-width:694px;
    margin:0 auto;
}
.box-title {
    font-size: 2.4rem;
    font-weight: 600;
	letter-spacing: 0;
    color: var(--dark-grayish-blue);
    margin:6.1rem auto 2.3rem;
}
.box-title--middle {
    margin-top:6.4rem;
}

/* HEADER */
.logo {
	width:125px;
	height:125px;
	margin:12.3rem 12.5rem 7rem;
}

/* INTRO */
.intro {
    margin-bottom: 16.5rem;
}
.intro__desc {
    margin-bottom:5.6rem;
}

/* TRACK */
.track {
    margin-bottom:19.9rem;
}
.track__desc {
    margin-bottom:7.3rem;
}
.track-tools {
    max-width:34rem;
    margin:0 auto;
}
/* ACCESS */
.access {
    margin-bottom:11.5rem;
}
.access__desc {
    margin-bottom:7.2rem;
}
.access__img {
    max-width:112%; 
    margin-left:-6%;
}

/* SUPERCHARGE */
.supercharge {
    margin-bottom:17.5rem;
}
.supercharge__desc {
    margin-bottom:3.3rem;
}
.supercharge-tools {
    margin-bottom: 14rem;
}
.supercharge-tools__item {
    max-width:34.8rem;
    margin:6.5rem auto 0;
}
.supercharge-tools__desc--middle {
    padding: 0 0.2rem;
}
.partners__item {
   margin-bottom:6rem;
}
.partners__item  img {
    margin:0 auto;
}
.partners__google {
    width:45.5%; 
    max-width:165px;
}
.partners__ibm {
    width:37.6%; 
    max-width:139px;
}
.partners__microsoft {
    width:44%; 
    max-width:160px;
}
.partners__hp {
    width:36.8%; 
    max-width:135px;
}
.partners__vector {
    width:35%; 
    max-width:126px;
}

/* DOWNLOAD*/
.download {
    margin-bottom:16.8rem;
}
.download__desc {
    padding:0 0.2rem;
    margin-bottom:5.4rem;
}

/* FOOTER */
.footer {
	background-color: hsl(210, 1%, 97%);
    padding-bottom:5.1rem;
}
.footer__logo {
	width:55px;
    height:55px;
    margin:5.3rem auto 3.2rem;
}
.footer__link {
    font-weight: 400;
    letter-spacing: 0;
    line-height: 3rem;
    color:var(--dark-grayish-blue);
}
.footer__link:hover {
    color:var(--strong-cyan);
    cursor:pointer;
}
.legals {
    display:flex;
    flex-flow:column wrap;
}
.legals__item {
    margin-bottom: 2rem;
    font-size: 1.8rem;
}
.socials {
    margin-top:4.8rem;
}
.socials__item {
    font-size:2.4rem;
}
.socials__item:not(.last) {              
    margin-right:4rem;
}

/* RWD */
@media screen and (min-width:579px) {
    .btns {
        display:flex;
        justify-content:center;
    }
    .btn {
        width:22.7rem;
    }
    .btn--cyan {
        margin-right:1.6rem;
    }
    .access__img {
        width:100%;
        max-width:905px;
        margin:0 auto;
    }
    .supercharge-tools {
        max-width:1114px;
        margin:0 auto 14rem;
    }
    .partners {
        width:80%;
        max-width:1114px;
        margin:0 auto;
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
    }
    .partners__item {
        margin:3rem;
    }
    .partners__item img {
        width:auto;
    }
    .legals {
        max-height:10rem;
        align-content:flex-end;
        max-width:77.43rem;
        margin:0 auto;
    }
    .legals__item {
        width: 29%;
        text-align:left;
        margin-bottom:1rem;
    }
}

@media screen and (min-width:768px) {
    body {
        background: url('../img/bg-header-desktop.png') no-repeat;
        background-size:contain;
    }
    .track-content {
        display:flex;
        justify-content:center;
        margin:9rem auto 0;
        margin-left:-30rem;
    }
    .track-tools {
        margin:0 0 0 11rem;
    }
    .track-tools__item {
        text-align:left;
    } 
    .supercharge-tools {
        display:flex;
        flex-wrap:wrap;
        align-items:baseline;
    }
}

@media screen and (min-width:1200px) {
    h1 {
        font-size:4.6rem;
    }
    h2 {
        font-size:3.6rem;
    }
    h2 + P {
        font-size:1.8rem;
        line-height:3rem;
    }
    .intro__desc {
        font-size:2rem;
    }
    .footer {
        padding:3.5rem 0 2.9rem;
    }
    .footer-content {
        width:77.4%;
        max-height:1114px;
        margin:0 auto;
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    .footer__logo {
        margin:0;
    }
    .legals {
        flex-grow:1;
        align-content:flex-start;
        margin-left:13.4rem;
    }
    .legals__item {
        width:25%;
    }
    .socials {
        margin:0;
    }
    .socials__item {
        margin-right:2.4rem;
    }
}

@media screen and (min-width:1400px) {
    .partners {
        width:auto;
        justify-content:space-between;
    }
    .partners__item:first-of-type {
        margin-left:0;
    }
    .partners__item:last-of-type {
        margin-right:0;
    }
}