/* colors */
$c-bright-orange: hsl(31, 77%, 52%);
$c-dark-cyan: hsl(184, 100%, 22%);
$c-very-dark-cyan: hsl(179, 100%, 13%);

$c-transparent-white: hsla(0, 0%, 100%, 0.75); /* (paragraphs) */
$c-very-light-gray: hsl(0, 0%, 95%); /* (background, headings, buttons) */

/* fonts */
$f-shoulders: "Big Shoulders Display", cursive;
$f-lexend: "Lexend Deca", sans-serif;

/* Texts */
$font-size-body: 1.5rem;
$font-body: $f-shoulders;
$color-body: $c-transparent-white;
